<div id="main-title">
  <h1>プロフィール編集</h1>
</div>

<p>アイコン画像編集gravater<%= "https://ja.gravatar.com/" %></p>


<%= form_with model: @user, url: profiles_path, method: :patch, local: true do |f| %>
  <%= f.file_field :avater %>
  <%= f.submit '編集', class: 'btn btn-primary' %>
<% end %>