<div id="main-title">
  <h1>プロフィール編集</h1>
</div>

<div class="profile-edit-wrapper">
  <div class="email-wrapper">
    <div id="email-p"><p>gravatarのemailを入力してください</p></div>

    <div id="email-form">
      <%= form_with model: @user, url: profiles_path, method: :patch, local: true do |f| %>
        <%= f.text_field :email, class: 'form-control', placeholder:"メールアドレス入力" %>
        <%= f.submit "送信", class: 'input-group-text' %>
      <% end %>  
    </div>
  </div>
</div>