<%= javascript_pack_tag 'game/javagame' %>
<button id="btn">戦闘</button>
<%= link_to "リセットする", game_index_path, id: "reset" %>
<div id="suraimu"><%= image_pack_tag "スライム.png", width:"200px",hight:"200px" %></div>

<ul id="list"></div>
<div id="exit"></div>