<div class = "digtop">
    <h1>Dig up tool</h1>
    <p>
      やりたかったけど手付かずの事を進めれるページにしたいです、<%= link_to 'サイト説明ページ', dig_top_setumei_path %>を見てください
    </p>
      <%= link_to "登録ページ", new_user_registration_path, class: "btn btn-lg btn-info" %>
    <div class = "touroku-btn">  
      <%= link_to "登録済みユーザー", new_user_session_path, class: "btn btn-lg btn-info" %>
    </div>
</div>
