<% if user.tasks.todo.any? %>
  <% user.tasks.todo.each do |task| %>
    <div class="seach">
      <h5><%= task.name %></h5>
    </div>
    <div class="btn-itiran">
      <%= link_to "チャットルームへ", task_chat_rooms_path(task), class: "btn btn-primary" %>
      <%= link_to "工程ページへ", user_tasks_path(user), class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>