@import "layouts";
@import "dighome";
@import "bootstrap";
@import "forms";
@import "devise";
@import "chat_rooms";
@import "dig_top";
@import "scaffolds";
@import "tasks";
@import "users_itiran";
@import "work_schedules";
@import "profile";
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

body{
  font-family: serif !important;
}
.mainpage-header{
  background-image: url(../images/mogura.jpg) ;
  height: 200px;
}
.container{
  padding: 0 4%;
  text-align: center;
}
/*説明*/
.setumei-page{
  float: left;
  margin-left: 50px;
        /* 背景をグラデーションにする */
  background: linear-gradient(45deg, #10100E, #A72F37);
  color:#cccccc;
}
// sinup Login
.new-contents{
  display: flex;
  justify-content: space-between;
}
.jumbotron{
  width: 40%;
  margin: 50px 0px 0px 20px;
}
aside{
  margin-top: 50px;
  width: 55%;
}
// みんなのやりたい事一覧
.seach-itiran{
  margin-left: 450px;
  list-style: none;
  font-family: serif;
}
.seach-itiran h1{
  margin: 50px 0px 20px 0px;  
}

.seach {
  padding: 10px 10px 10px 50px;
  text-align: center;
  list-style: none;
  font-family: serif;
  border-top: solid 1px #dbedf0;
  
}
.btn-itiran{
  text-align: center;
  margin-left: 40px;
  font-family: serif;
  padding: 5px 15px 15px 15px;
}
.minna-name{
  display: flex;
  margin: 15px 0px 15px 0px;
}
.minna-name h3{
  color: #d58d9d;
  margin-top: 20px;
}

// 提案者の工程ページ
.task-title-area {
    font-family: serif;
    margin: 20px 0px 0px 400px;
}
.task-index-area {
    font-family: serif;
}
