@import "layouts";
@import "bootstrap";
@import "forms";
@import "devise";
@import "chat_rooms";
@import "dig_top";
@import "scaffolds";
@import "tasks";
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

.mainpage-header{
  width: 1100px;
  background-image: url(../images/273020_s.jpg) ;
  height: 80px;
}
.container{
  padding: 0 4%;
  text-align: center;
}
/*説明*/
.setumei-page{
  float: left;
  margin-left: 50px;
        /* 背景をグラデーションにする */
  background: linear-gradient(45deg, #10100E, #A72F37);
  color:#cccccc;
}
// sinup Login
.new-contents{
  display: flex;
  justify-content: space-between;
}
.jumbotron{
  width: 40%;
  margin: 50px 0px 0px 20px;
}
aside{
  margin-top: 50px;
  width: 55%;
}
// ユーザー一覧
.users-itiran{
  width: 1100px;
  list-style: none;
  font-family: serif;
}
.users-itiran h1{
  text-align: center;
  margin: 30px 0px 20px 0px;  
}
.kaminari{
  margin-top: 10px;
  margin-left: 600px;
}
.users{
  list-style: none;
  text-align: left;
  margin-left: 200px;
}
.gravatar{
  margin: 10px 80px 10px 100px;
  list-style: none;
  font-size: 200%;
  border-bottom: solid 1px #dbedf0;
  font-color: #6e0033
}
// みんなのやりたい事一覧
.seach-itiran{
  margin-left: 450px;
  list-style: none;
  font-family: serif;
}
.seach-itiran h1{
  margin: 50px 0px 20px 0px;  
}

.seach {
  padding: 10px 10px 10px 50px;
  text-align: center;
  list-style: none;
  font-family: serif;
  border-top: solid 1px #dbedf0;
  
}
.btn-itiran{
  text-align: center;
  margin-left: 40px;
  font-family: serif;
  padding: 5px 15px 15px 15px;
}
.minna-name{
  display: flex;
  margin: 15px 0px 15px 0px;
}
.minna-name h3{
  color: #d58d9d;
  margin-top: 20px;
}
// やりたい事入力画面
.task-new{
  font-family: serif;
  text-align: center;
  margin-top: 10px;
}
.grid{
  margin-left: 30px;
  width: 1100px;
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}
// 提案者の工程ページ
.task-title-area {
    font-family: serif;
    margin: 20px 0px 0px 400px;
}
.task-index-area {
    font-family: serif;
}
// dighomeページ
.dighome{
  width: 1100px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-family: serif;
}
.dighome-left{
  height: 500px;
  width: 85%;
  // background-image: url(image/1796066_s.jpg) ;
}
.aside-home{
  width: 15%;
}