.digtop{
  margin-top: 120px;
  font-family: serif;
}
.digtop p{
  margin: 30px 0px 50px 0px;
}
.touroku-btn{
  margin-top: 30px;
}
// dig_top
.big-bg{
  height: 720px;
  padding: 0 4%;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url("../images/970138_s.jpg") ;
}
#home .page-title{
  text-transform: none;
}