.dighome-wrapper{
  margin-left: 50px;
}

.dighome{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
.dighome-left{
  width: 68%;
  height: 500px;
  width: 50%;
  margin-left: 40px;
}
#nav-btn{
  display:flex;

}
#nav-btn a{
  margin-top: 5px;
  width: 20%;
  border-left: 1px solid white;
}
.dighome-item{
  margin-top: 30px;
}
aside{
  width: 20%;
  background-color: #fee9e9;
}
aside h3 {
  border-bottom: solid 2px blue;
}
.alltask{
  display: flex;
  border-bottom: solid 1px #239fb4;
}
aside .aside-name {
  color: #995b69;
  font-size: 15px;
}
aside .aside-task-name {
  color: rgb(13, 13, 15);
  font-size: 15px;
}

.Introduction {
 display: block;
}
.Introduction h4 {
  color: #ae6784ed;
}
.Introduction p {
  color: #111011f2;
}
.dighome-menu {
  padding-left: 20px;
  width: 12%;
}


