.dighome-wrapper{
  margin-left: 50px;
}

.dighome{
    height:700px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-family: serif;
    
  }
.dighome-left{
  width: 68%;
  height: 500px;
  width: 70%;
  margin-left: 40px;
}
#nav-btn{
  display:flex;

}
#nav-btn a{
  margin-top: 5px;
  width: 20%;
  border-left: 1px solid white;
}
.dighome-item{
  margin-top: 30px;
}
.aside-home{
  width: 38%;
}
.alltask{
  color: #492c8f;
  border-bottom: solid 1px #239fb4;
}