.done_content{
  border: 5px ridge rgb(47, 235, 22);
  border-radius: 10px;
  width: 700px;
  font-family: serif;
  margin: 40px 200px 0px 300px;
}

.done_content li{
  border-top: 2px solid rgb(160, 160, 165);
  
  list-style: none;
  margin-top: 20px;
}
.done_list{
  padding-left: 50px;
  background-color: rgb(113, 243, 119);
}