/*説明*/
.setumei-page{
//   background: linear-gradient(45deg, #10100E, #A72F37);
	font-family: serif;
	margin-top:  50px;
  margin-left: 200px;
}
.setumei-page h1{
 margin-left: 300px;
}
.setumei-page h4{
	margin: 20px 0px -50px 400px;
}
.setumei-page h5{
	margin: 80px 0px 20px 0px;
}