// ユーザー一覧
.users-itiran{
    list-style: none;
    font-family: serif;
  }
  .users-itiran p{
    margin-left: 800px;
  }
  .users-itiran h1{
    text-align: center;
    margin: 30px 0px 20px 0px; 
  }
  .kaminari{
    margin-top: 10px;
    margin-left: 600px;
  }
  .users{
    list-style: none;
    text-align: left;
    margin-left: 200px;
  }
  .users h3{
    margin: 0px 0px 0px 100px;
    color: #13080a; 
  }
  .users h6{
    margin: 0px 0px 0px 10px;
    color: #13080a;
  }
  .sinup-name{
    margin: 10px 80px 10px 100px;
    list-style: none;
    font-size: 200%;
    border-bottom: solid 1px #dbedf0;
    color: #d58d9d; 
  }
  .gravatar{
    margin: 10px 80px 10px 100px;
    list-style: none;
    font-size: 200%;
    border-bottom: solid 1px #dbedf0;
    color: #6e0033
  }