.schedule-page{
  font-family: serif;
  text-align: center;
  color:rgb(55, 14, 168);
  margin-bottom: 20px;
  margin-top: 20px;
}
table{
  text-align: center;
  margin-top: 20px;
  font-family: serif;
  width: 100%;
}
table h4{
  color:brown
}
.back-color{
  background-color: rgb(230, 106, 147);
}