<div class = "header">
  <title> dig up tool</title>
  <nav>
    <ul class="header-right">
      <li><%= link_to "home", root_path %></li>
      <li><%= link_to "sing_up", new_user_registration_path %></li>
    </ul>
  </nav>
</div>